body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: LINEAR-GRADIENT(to left,#009ffd ,#2a2a72);;
  background: linear-gradient(to right, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
}

button {
  cursor: pointer;
}